body {
  background-color: #F7F7F7;
}

h1 {
  text-align: center;
  color: #113A65;
  margin-top: 30px;
}

.a {
  width: 100px;
  height: 100px;
  border-radius: 4px;
  font-size: 50px;
  font-weight: 900;
  line-height: 100px;
  text-align: center;
  color: #FFFFFF;
  background-color: #96CAEF;
}

.b {
  width: 100px;
  height: 100px;
  border-radius: 4px;
  font-size: 50px;
  font-weight: 900;
  line-height: 100px;
  text-align: center;
  color: #FFFFFF;
  background-color: #8BE3AE;
}

.c {
  width: 100px;
  height: 100px;
  border-radius: 4px;
  font-size: 50px;
  font-weight: 900;
  line-height: 100px;
  text-align: center;
  color: #FFFFFF;
  background-color: #E7717D;
}
/* First Test */
.container {
  max-width: 900px;
  margin: 0px auto;
  padding: 30px;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 20px 0px rgba(12, 12, 11, 0.1);
  box-shadow: 0px 2px 20px 0px rgba(12, 12, 11, 0.1);
}

/* Second Test */
.secondContainer {
  max-width: 900px;
  margin: 0px auto;
  padding: 20px;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 20px 0px rgba(12, 12, 11, 0.1);
  box-shadow: 0px 2px 20px 0px rgba(12, 12, 11, 0.1);
}

.secondContainer >div {
  margin: 0px 20px;
}

.secondContainer >div:nth-child(1) {
    margin-right: auto;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.secondContainer >div:nth-child(2) {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

.secondContainer >div:nth-child(3) {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
}

@media (max-width: 570px) {
   .secondContainer >div {
  margin: 0px 10px;
}
  .secondContainer >div:nth-child(1) {
     margin-right: 20px;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .secondContainer >div:nth-child(2) {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }

  .secondContainer >div:nth-child(3) {
     margin-right: auto;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}

/* Third Test */
.thirdContainer {
  max-width: 900px;
  margin: 0px auto;
  padding: 30px;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 20px 0px rgba(12, 12, 11, 0.1);
  box-shadow: 0px 2px 20px 0px rgba(12, 12, 11, 0.1);
}

.content {
  width: 50%;
  margin: 30px;
}

.content button {
  background: #E7717D;
  color: #FFFFFF;
  width: 120px;
  text-align: center;
  padding: 10px 0px;
  border: none;
  border-radius: 4px;
}

.cText {
  width: 50%;
  height: 400px;
  margin: 30px;
  font-size: 100px;
  font-weight: 900;
  line-height: 400px;
  text-align: center;
  background-color: #E7717D;
  color: #FFFFFF;
  border-radius: 4px;
}

@media (max-width: 570px) {
   .thirdContainer {
      padding: 10px;
       display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
   }
   .content {
  width: 100%;
}
.cText {
  width: 100%;
}

}